.settings-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    
    background-color: rgba(240, 248, 255, 0);

    font-size: 40px;
    color:black;

    border-radius: 999px;
    border-style: none;
    
    z-index: 2;

    transition: transform 1s ease-in-out;
}
@media only screen and (max-width: 477px) {
    .settings-icon {
        position: absolute;
        right: 0px;
        top: 70px;

        font-size: 30px;
    }
}

    .settings-icon:hover {
        cursor: pointer;
    }
.settings-icon > ion-icon {
    transition: transform 1s ease-in-out;
}
    .settings-icon:hover > ion-icon {
        transform: rotate(360deg);
    }
@media only screen and (max-width: 477px) {
    .settings-icon > ion-icon {
        transition: transform 0s ease-in;
    }
        .settings-icon:hover > ion-icon {
            transform: rotate(0deg);
        }
}