.settings-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    
    background-color: rgba(240, 248, 255, 0);

    font-size: 40px;
    color:black;

    border-radius: 999px;
    border-style: none;
    
    z-index: 2;

    transition: transform 1s ease-in-out;
}
.settings-icon > img {
    width: 40px;

    transition: transform 1s ease-in-out;
}
@media  screen and (max-width: 477px) {
    .settings-icon {
        position: absolute;
        right: 0px;
        top: 70px;

        font-size: 30px;
    }
    .settings-icon > img {
        width: 35px;
    }
}
    .settings-icon:hover {
        cursor: pointer;
    }

    .settings-icon:hover > img {
        transform: rotate(360deg);
    }
@media  screen and (max-width: 477px) {
    .settings-icon > img {
        transition: transform 0s ease-in;
    }
        .settings-icon:hover > img {
            transform: rotate(0deg);
        }
}

.settings-overlay {
    position: fixed;

    z-index: 3;

    height: 100%;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.514);

    /* Set dynamically in Settings.jsx
    pointer-events: none;
    opacity: 0;
    */

    transition: 0.2s;
}

.settings-menu {
    position: fixed;
    left: 50vw; transform: translateX(-50%);
    top: 8vh;

    z-index: 4;

    height: 660px;
    width: 600px;

    margin: 15px;
}
@media  screen and (max-width: 959px) {
    .settings-menu {
        left: 1px; transform: translateX(0);
        top: 12px;
    }
}
@media  screen and (max-width: 627px) {
    .settings-menu {
        left: 1px; transform: translateX(0);

        width: 92vw;
    }
}
@media  screen and (max-width: 395px) {
    .settings-menu {
        left: 1px; transform: translateX(0);

        height: 620px;
        width: 96vw;

        margin: 5px;
    }
}

/*Close icon*/
.settings-close {
    position: absolute;
    right: 15px;
    top: 20px;

    width: 30px;

    border-radius: var(--border-radius-input);

    opacity: 0.2;

    transition: 0.1s;
}
.settings-close:hover {
    cursor: pointer;
    opacity: 1;
}

/*Window title*/
.settings-title {
    position: absolute;
    left: 24px;
    top: 24px;

    font-size: 35px;
}

/*Color picker*/
.settings-color {
    position: absolute;
    left: 24px;
    top: 100px;
}
.settings-subtitle{
    margin-bottom: 15px;
}
.hue-horizontal {
    border-radius: var(--border-radius-input) !important;
}
@media  screen and (max-width: 395px) {
    .hue-picker, .hue-horizontal {
        width: 75vw;
    }
}

/*Color mode switcher*/
.settings-mode {
    position: absolute;
    left: 24px;
    top: 190px;
}
.settings-mode-options {
    display: flex;
    justify-content: left;
    
}
.settings-mode-dark, .settings-mode-light {
    position: absolute;

    width: 90px !important;
}
.settings-mode-dark {
    left: 95px !important;
}

/*Unit switcher*/
.settings-unit {
    position: absolute;
    left: 24px;
    top: 300px;
}
.settings-unit-options {
    display: flex;
    justify-content: left;
    
}
.settings-unit-metric, .settings-unit-imperial {
    position: absolute;

    width: 90px !important;
}
.settings-unit-imperial {
    left: 95px !important;
}

/*Language changer*/
.settings-language {
    position: absolute;
    left: 24px;
    top: 410px;
}

/*Save settings button*/
.settings-save {
    position: absolute;
    left: 25px;
    bottom: 35px;

    height: 40px;
    width: 80px;
}
.settings-save:hover {
    cursor: pointer;
}
@media  screen and (max-width: 627px) {
    .settings-save {
        position: absolute;
        left: 25px;
        bottom: 45px;
    
        height: 40px;
        width: 80px;
    }
}

/*Reset settings button*/
.settings-reset {
    position: absolute;
    left: 110px;
    bottom: 35px;

    height: 40px;
    width: 140px;
}
.settings-reset:hover {
    cursor: pointer;
}
@media  screen and (max-width: 627px) {
    .settings-reset {
        position: absolute;
        left: 110px;
        bottom: 45px;
    
        height: 40px;
        width: 140px;
    }
}

/*Button click indicators*/
.settings-indicator {
    position: absolute;
    left: 25px;
    bottom: 85px;

    /*color: rgb(0, 0, 0);*/

    pointer-events: none;

    opacity: 0;
}

/*Disclaimer*/
.settings-disclaimer {
    position: absolute;
    left: 300px;
    bottom: 120px;

    width: 280px;

    font-size: small;
    
    opacity: 1;
}
@media  screen and (max-width: 627px) {
    .settings-disclaimer {
        position: absolute;
        right: 25px;
        bottom: 180px;
    
        width: 30vw;
    
        font-size: small;
        
    }
}
@media  screen and (max-width: 505px) {
    .settings-disclaimer {
        opacity: 0;
        pointer-events: none;
    }
}

/*App version display*/
.app-version {
    position: absolute;
    right: 25px;
    bottom: 10px;
    
    opacity: 0.5;
}