.location-search {
    position: absolute;
    top: 10px;
    left: 50vw; transform: translateX(-50%);

    margin: 0 auto;

    max-width: 350px; 

    z-index: 2;

    --md-elevation-level: 0;
    border-radius: var(--border-radius-input);

}
@media  screen and (max-width: 477px) {
    .location-search {
        position: absolute;
        top: 10px;
        right: auto;
        left: 10px; transform: translateX(0);
    }


    @media  screen and (max-width: 295px) {
        .location-search {
            left: 1px; transform: translateX(0);
    
            max-width: 230px; 
        }
    
    }

}

.location-current {
    z-index: 2;

    position: absolute;
    top: 10px;
    left: 50vw; transform: translateX(180px);

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;

    border-radius: var(--border-radius-input);
}
@media  screen and (max-width: 865px) {
    .location-current {
        transform: translateX(-230px);
    }
    @media  screen and (max-width: 477px) {
        .location-current {
            left: 10px; transform: translateX(0);
            top: 70px;
        }
    }
}
    .location-current:hover {
        cursor: pointer;
    }
.location-current-icon {
    width: 25px;
}

.weather-info {
    position: absolute;
    left: 0px;
    top: 0px;

    max-width:550px;
    
    
    margin-top: 7vh;
    margin-left: 40px;

    z-index: 1;

    font-size: 30px;
    white-space: nowrap;
}
@media  screen and (max-width: 477px) {
    .weather-info {
        position: absolute;
        top: 60px;
    }
}

.city-name {
    font-weight: 400;

    margin-top: 50px;
}
.city-name > p{

    margin: 0;
}

.temperature {
    max-width: 300px;
}

.weather-info-sub {
    margin-top: 0px;
    
    position: absolute;
    left: 30px

}
.weather-info-sub > * > *{
    margin: 0px;
}


.weather-desc {
    width: 1px;
    height: 140px;
}
/* For handling Ionicons icons */
.weather-desc > *{
    font-size: 130px;

}
/* For handling Google material icons */
.weather-desc > * > * {
    font-size: 120px !important;
}

.weather-info-extra {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 100px;

    z-index: 2;

    font-size: 20px;
    font-weight: 400;
}
@media  screen and (max-width: 715px), (max-height: 505px) {
    .weather-info-extra {
        position: absolute;
        bottom: unset;
        top: 500px;
        left: 10px;

        margin-right: 10px;

        max-width: 700px; width: auto;
        height: 500px;

        flex-wrap: wrap;

        font-size: 30px;
    }

    @media  screen and (max-width: 386px) {
        .weather-info-extra {    
            margin-right: 10px;
    
            max-width: 700px; width: auto;
            height: 800px;
    
            flex-wrap: wrap;
    
            font-size: 30px;
        }
    }
}

.weather-info-extra > div {
    margin-right: 20px;
    margin-left: 20px;

    display: block;

    text-align: center;
    font-weight: 300;
    
    align-items: center;
}
@media  screen and (max-width: 715px) {
    .weather-info-extra > div {
        margin-right: 20px;
        margin-left: 20px;
    }
}
.weather-info-extra-value {
    font-weight: 800;
}

