.weather-info {
    position: absolute;
    left: 0px;
    top: 0px;

    width:550px;
    
    margin-top: 7vh;
    margin-left: 40px;

    z-index: 1;

    font-size: 30px;
}

.city-name {
    font-weight: 400;
}

.weather-info-sub {
    margin-top: 70px;
}
.weather-info-sub > * > *{
    margin: 0px;
}

.temperature-feel {
    font-size: 20px;
    font-weight: 400;
}

.location-search {
    position: absolute;
    top: 0px;
    left: 50vw; transform: translateX(-50%);

    z-index: 2;
}