.no-connection-prompt {
    position: absolute;
    left: 50vw; transform: translateX(-50%);
    top: 35vh;

    background-color: var(--color-error-container);

    border-radius: var(--border-radius-container);

    width: 500px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    z-index: 3;
}
@media only screen and (max-width: 495px) {
    .no-connection-prompt {
        width: 260px;
        height: 200px;
    }
}
.no-connection-prompt-text {

    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
@media only screen and (max-width: 495px) {
    .no-connection-prompt-text {
        margin-left: 15px;
        margin-right: 15px;

    }
}
.no-connection-prompt-icon {
    width: 40px;
}