.invalid-query-prompt {
    position: absolute;
    left: 50vw; transform: translateX(-50%);
    top: 35vh;

    border-radius: var(--border-radius-container);

    width: 500px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    z-index: 8;
}
@media only screen and (max-width: 495px) {
    .invalid-query-prompt {
        width: 260px;
        height: 200px;
    }
}
.invalid-query-prompt-text {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
@media only screen and (max-width: 495px) {
    .invalid-query-prompt-text {
        margin-left: 15px;
        margin-right: 15px;

    }
}
.invalid-query-prompt-icon {
    font-size: 50px !important;

    width: 50px;
}