:root {
    
    --color-primary: #008cff;

    --color-primary-button: color-mix(in srgb,var(--color-primary),#000 30%);
    --color-primary-button-dark: color-mix(in srgb,var(--color-primary),#fff 80%);

    --color-primary-container: color-mix(in srgb,var(--color-primary),#fff 80%);
    --color-primary-container-dark: color-mix(in srgb,var(--color-primary),#000 50%);

    --color-primary-text: color-mix(in srgb,var(--color-primary),#000 50%);
    --color-primary-text-light: color-mix(in srgb,var(--color-primary),#fff 90%);

    --color-error: #aa1616;
    --color-error-container: #ffd9d9;
    
    --border-radius-container: 16px;
    --border-radius-input: 99px;
    
}
:root, :root input {
    font-family: 'Poppins', sans-serif !important; 
    --font-main: 'Poppins', sans-serif; 
}

/*============Custom elements============*/

/*Search bar*/
search-bar {
    width: 300px;
    
    border-radius: var(--border-radius-input);
}
    search-bar input {
        width: 250px;

        padding: 12px 24px;
        padding-right: 50px;

        border: 0px;
        border-radius: var(--border-radius-input);

        background-color: var(--color-primary-container);

        font-size: 16px;

        outline: none;

    }
    @media screen and (max-width: 477px) {
        search-bar {
            width: 200px;
        }
        search-bar input {
            width: 200px;
        }
    }
    search-bar input:focus {
        outline: none black;
    }
    search-bar [list]::-webkit-list-button,
    search-bar [list]::-webkit-calendar-picker-indicator {
    display: none !important;
  }
#search-icon {
    position: absolute;
    top: 13px;
    right: 12px;

    transform: translateX(0);
}
@media screen and (max-width: 477px) {
    #search-icon {
        position: absolute;
        top: 13px;
        left: 230px;
    }
}
    #search-icon:hover {
        cursor: pointer;
    }
    #search-icon:active {
        cursor: progress;
    }

/*Standard Button*/
.material-button {
    background-color: var(--color-primary-button);
    border-radius: var(--border-radius-input);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;
    color: var(--color-primary-text-light) !important;

    height: 40px;
    width: 80px;
}
.material-button-dark {
    background-color: var(--color-primary-container);
    border-radius: var(--border-radius-input);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;
    color: var(--color-primary-text) !important;

    height: 40px;
    width: 80px;
}
.material-button:hover, .material-button-dark:hover {
    cursor: pointer;
}

/*Outlined Button*/
.material-button-outline {
    background-color: #00000000;
    border-radius: var(--border-radius-input);

    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;
    /*color: var(--color-primary-text) !important;*/

    height: 40px;
    width: 80px;
}
.material-button-outline-dark {
    background-color: #00000000;
    border-radius: var(--border-radius-input);

    border: solid var(--color-primary-container) 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;
    /*color: var(--color-primary-text) !important;*/

    height: 40px;
    width: 80px;
}
.material-button-outline:hover, .material-button-outline-dark:hover {
    cursor: pointer;
}

/*Container*/
.material-container {
    background-color: var(--color-primary-container);
    border-radius: var(--border-radius-container);
}
.material-container-dark {
    background-color: var(--color-primary-container-dark);
    border-radius: var(--border-radius-container);
}

/*Dark mode icons*/
.icon-dark {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(101%) !important;
}

/*Text*/
.material-text-dark {
    color: var(--color-primary-text);
}
.material-text-dark-pure {
    color : black;
}

.material-text-light {
    color: var(--color-primary-text-light);
}
.material-text-dark-pure {
    color : black;
}