:root {
    
    --color-primary: #008cff;
    --color-primary-container: color-mix(in srgb,var(--color-primary),#fff 80%);
    --color-primary-text: color-mix(in srgb,var(--color-primary),#000 50%);

    --color-error: #aa1616;
    --color-error-container: #ffd9d9;

    
    --border-radius-container: 16px;
    --border-radius-input: 99px;
    
}
:root, :root input {
    font-family: 'Poppins', sans-serif !important; 
    --font-main: 'Poppins', sans-serif; 
}

/*============Custom elements============*/

/*Search bar*/
search-bar {
    width: 300px;
    
    border-radius: var(--border-radius-input);
}
    search-bar input {
        width: 250px;

        padding: 12px 24px;
        padding-right: 50px;

        border: 0px;
        border-radius: var(--border-radius-input);

        background-color: var(--color-primary-container);

        font-size: 16px;

        outline: none;

    }
    @media only screen and (max-width: 477px) {
        search-bar {
            width: 200px;
        }
        search-bar input {
            width: 200px;
        }
    }
    search-bar input:focus {
        outline: none black;
    }
    search-bar [list]::-webkit-list-button,
    search-bar [list]::-webkit-calendar-picker-indicator {
    display: none !important;
  }
#search-icon {
    position: absolute;
    top: 13px;
    right: 12px;

    transform: translateX(0);
}
@media only screen and (max-width: 477px) {
    #search-icon {
        position: absolute;
        top: 13px;
        left: 230px;
    }
}
    #search-icon:hover {
        cursor: pointer;
    }
    #search-icon:active {
        cursor: progress;
    }

/*Buttons*/
.material-button {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-input);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;

    height: 40px;
    width: 80px;
}
.material-button-outline {
    background-color: var(--color-primary-container);
    border-radius: var(--border-radius-input);

    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    text-align: center;
    color: var(--color-primary-text) !important;

    height: 40px;
    width: 80px;
}
.material-button:hover, .material-button-outline:hover {
    cursor: pointer;
}