.no-connection-prompt {
    position: absolute;
    left: 50vw; transform: translateX(-50%);
    top: 35vh;

    background-color: var(--color-error-container);

    border-radius: var(--border-radius-container);

    width: 500px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    z-index: 2;
}
.no-connection-prompt-text {

    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.no-connection-prompt-icon {
    font-size: 40px !important;
}