
body {
  height: 100%;

  margin: 0;

  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*color: var(--color-primary-text);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*For hiding Google Translate iframe*/
.skiptranslate > iframe{
  visibility: hidden !important;
  height: 1px !important;
}

body {
  top: 0px !important;
}

/*Google translate button style*/
#google_translate_element {
  display: flex;
}
.goog-te-gadget .goog-te-combo {
  background-color: #ffffff;

  border-style: none;
  border-radius: var(--border-radius-input);

  height: 40px;

  text-align: center;
  font-family: var(--font-main);

  margin-bottom: 5px;
}
.goog-logo-link {
  display:none !important;
} 
.goog-te-gadget{
  color: transparent !important;
}